.App {
  text-align: center;
}

.characters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-card {
  width: 200px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.character-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
